* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.hero {
    width: 100%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.card {
    width: 440px;
    height: 700px;
    background-color: white;
    border-radius: 3%;
    box-shadow: 7px 11px 15px 2px rgba(68,102,187,0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /*the below code is to centre the card on the page*/
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  
}

.card h1 {
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 8px;
    font-weight: 900;
    color: hsl(223, 47%, 23%); 
}

.card .info {
    font-size: 16px;
    text-align: center;
    margin: 5px 70px;
    padding: 5px; 
    font-weight: 700;
    color: hsl(224, 23%, 55%);    
}

.plan {
    background-color:hsl(225, 100%, 98%);
    margin: 20px 50px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    font-size: 16px;
    border-radius: 18px; 
}

.text {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-self: center;
    font-weight: 700;   
}

.annual-plan {
   font-weight: 900; 
   color: hsl(223, 47%, 23%); 
}

#annual-plan {
    color: hsl(224, 23%, 55%);
    padding-left: 1em;
}

.plan a{
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.plan a:hover {
    color:  hsl(245, 75%, 70%);                                     
}

#proceed-btn {
    background-color:hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    margin: 12px 20px;
    padding: 18px 92px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    box-shadow: 7px 11px 15px 8px rgba(69,105,255,0.20);
    border: none;
}

#proceed-btn:hover {
    background-color: hsl(245, 75%, 70%);
    cursor: pointer;
    
}

#cancel-btn {
  background: none;
  border: none;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

#cancel-btn:hover {
    color: hsl(223, 47%, 23%); 
}

.attribution {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);  

}

@media screen and (max-width: 375px) {
    .card {
        width: 365px;
        height: 650px;
    }
}

@media screen and (max-width: 375px) {
    .card .info {
        margin-left: 1.1em;
        margin-right: 1.1em;
        font-size: 1.1em;
        line-height: 1.4em;
    }
}

@media screen and (max-width: 375px) {
    .plan{
    margin-left: 1.1em;
    margin-right: 1.1em;
    padding:1em;
    }
}

@media screen and (max-width: 375px) {
    #proceed-btn {
        padding: 10px 2em;
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 375px) {
    .attribution {
        display:none;

    }
}